@import "colours";

html,
body {
  overflow-x: hidden;
}

body {
  position: relative
}

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 5% 10rem;
  margin: auto;
}

// Typography
body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.primary-heading {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 1rem;
}

.secondary-heading,
.secondary-heading-d {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.1rem;
  color: $grayishBlue;
  padding-bottom: 1rem;
}

.label-heading {
  background-color: $veryDarkBlue;
  padding: 0.2rem 0.75rem;
  border-radius: 25px;
  color: #fff;
  letter-spacing: 0;
  font-weight: 600;
  margin-right: 0.5rem;
}

.lead {
  color: $darkGrayishBlue;
  font-size: 1.1rem;
  padding-bottom: 4rem;
}

a {
  text-decoration: none;
}

// Utilities
.btn {
  padding: 1rem 2.5rem;
  background-color: $red;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $lightGrayishBlue;
  padding-bottom: 1rem;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

// Nav
#nav {
  height: 100%;

  .nav {
    display: flex;
    justify-content: space-between;

    .logo {
      height: 32px;
    }

    .nav-links .nav-link {
      list-style: none;
      display: inline-block;
      margin-left: 2rem;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      color: $veryDarkBlue;

      &:hover {
        text-decoration: underline;
      }

      a {
        color: $veryDarkBlue;
      }
    }

    .nav-links .nav-link-g {
      color: $grayishBlue;

      a {
        color: $grayishBlue;
      }
    }
  }
}


// Main
#main {
  height: 100%;

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    grid-gap: 2rem;
    height: 100%;

    &-a {
      width: 100%;
      height: 100%;
      padding-right: 0;
      padding-top: 5rem;

      .btn,
      .secondary-heading-d {
        display: inline-block;
      }

      .secondary-heading-m {
        display: none;
      }

      .btn {
        margin-right: 1rem;
      }

      .lead {
        width: 50%;
      }
    }

    &-b {
      width: 100%;
      height: 100%;
      margin-top: 5%;

      .bg-svg-wrapper {

        .bg-svg {
          background-image: url(/images/illustration-devices.svg);
          background-size: cover;
          height: 0;
          padding: 0;
          padding-bottom: 70%;
        }
      }

    }

    .main-b-bg {
      height: 450px;
      width: 50%;
      background-color: $lightGrayishBlue;
      border-radius: 25px;
      position: absolute;
      top: -20px;
      z-index: -1;
      overflow-x: hidden;
    }
  }
}



@import "mobile";
@import "tablet";